*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: #FFF;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 2rem;
}

button{
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-top: 5rem;
}

button > img{
    object-fit: cover;
}

img{
    object-fit: contain;
    margin-bottom: 2rem;
}

.RightArrow:hover{
    transition: .3s;
    transform: translateX(10px);
}

.LeftArrow:hover{
    transition: .3s;
    transform: translateX(-10px);
}

.ConteinerCar{
    width: 38rem;
    height: 15rem;
    text-align: center;
    margin-top: -5rem;
}

.ConteinerCar:hover{
    height: 18rem;
    transition-duration: .3s;
    transition-timing-function: linear;
    padding: -1.5rem;
}

.ConteinerCar:hover h2{
    transform: all .3s;
    font-size: 1.5rem;
    margin-top: 1rem;
}

h2{
    font-size: 0;
}

